
input[type="email"],
input[type="text"],
input[type="search"]
{
    display: block;
    width: 100%;
    line-height: 1.2em;
    width: 100%;
    font-size: 0.9rem;
    padding: 0.6em;
    margin: 0.5em 0 1.8em 0;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 $gray3;
    color: $gray0;
    background-color: $white;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:focus {
        outline-color: $primary;
        box-shadow: 0 1px 3px 0 $gray2;
    }
}

input[type="checkbox"] {
    width: 1.1em;
    height: 1.1em;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 1px 1px 0 $gray3;
    background-color: $white;
}

.header input {
    margin: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: $gray0;
    border: 1px solid $gray3;
}

label {
    font-size: 0.9rem;
    color: $gray3;
}
