body,
input {
    font-family: $primary-font;
    font-size: 16px;
    color: $black;
}

p {
    line-height: 1.5em;
    margin: 1rem 0;
}

strong {
    font-family: inherit;
    font-weight: 700;
}

em {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    margin-bottom: .75em;
}

h1 {
    font-size: 2.5rem;
    @include breakpoint($mobile-down) {
        font-size: 2rem;
    }

    small {
        font-family: $primary-font;
        font-size: 75%;
        color: $blue;
    }
}

h2 {
    font-size: 2rem;
    @include breakpoint($mobile-down) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: 1.75rem;
    @include breakpoint($mobile-down) {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 1.5rem;
    @include breakpoint($mobile-down) {
        font-size: 1.25rem;
    }
}

h5 {
    font-size: 1.25rem;
    @include breakpoint($mobile-down) {
        font-size: 1rem;
    }
}

h6 {
    font-size: 1rem;
}

.display1 {
    font-size: 3rem;
    @include breakpoint($mobile-down) {
        font-size: 2.5rem;
    }
}

.display2 {
    font-size: 2.5rem;
    @include breakpoint($mobile-down) {
        font-size: 2rem;
    }
}

.display3 {
    font-size: 2rem;
    @include breakpoint($mobile-down) {
        font-size: 1.75rem;
    }
}

.display4 {
    font-size: 1.5rem;
    @include breakpoint($mobile-down) {
        font-size: 1.25rem;
    }
}


.party-rep {
    color: $nord11;
  }
  
  .dollars {
  color: $nord14;
}
  
  .party-dem {
    color: $nord10;
  }

.party-other {
    color: #bbb;
}

.text-red,
.text-error {
    color: red;
}

.text-center {
    text-align: center;
}

.font-primary {
    font-family: $primary-font;
}

.text-italic {
    font-style: italic;
}

.font-secondary {
    font-family: $secondary-font;
}

.blurry-text {
    color: transparent !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
 }

 .blurry-text-link {
    color: transparent !important;
    text-shadow: 0 0 5px rgba(94, 129, 172, 0.5);
 }

 .blurry-text-total {
    color: transparent !important;
    text-shadow: 0 0 6px rgba(163, 190, 140, 0.5);
 }